# OS specific files
.DS_Store

# Files or directories addes by editors
.idea
.settings
.project
.vscode
.pydevproject

# Python byte compiled files and build directories
*.py[cod]
__pycache__/
build/
dist/
*.egg-info

# Generated package files
src/

# Local files
notes.txt